/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fffcfc;
    color: #535050;
    font-family: 'Lato' 'Arial' sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility:visible;
}

/* ------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------- */

section{
    padding: 80px 0;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}



/* -----------HEADER------------*/

header{
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(imgs/hero-min.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imgs/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
}

h1{
    margin-top: 0;
    color: white;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15%;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    content: " ";
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.section-features .long-copy{
    margin-bottom: 40px;
}

/*------------------LINKS----------*/

a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-color: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    
}


a:hover,
a:active{
    color: #555;
    border-bottom: 2px solid transparent;
}


/*---------------BUTTONS-------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; 
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    margin-right: 15px;
}


.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: white;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid white;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

/*---------------logo----------------*/

.Logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 55px;
}


.Logo-black{
    height: 50px;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    float: left;
}
/*---------------------STICKY LOGO-----------*/

.sticky .Logo{display: none;}
.sticky .Logo-black{display: block;}



/*----------------------NAVIGATION-----------------*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-botton 0.2s, color 0.2s;
    transition: border-botton 0.2s, color 0.2s;
    padding: 8px 0;
}


.main-nav li a:hover,
.main-nav li a:active{
    color: white;
    border-bottom: 2px solid #e67e22;

}

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

.sticky .main-nav{margin-top: 19px;}


/*-----------STICKY NAVIGATION--------*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #d3d3d3;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 17px 0;
    color: #555;
}

/*-----------------------paragraphs--------------*/
.box{
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}


/*-------------------------icons---------------------*/
.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/*------------------------------MEALS-----------------*/

.meals-showcase{
    list-style: none;
    width: 100%;
        
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.section-meals{
    padding: 0;
        
}

.meal-photo img:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    opacity: 1;
}


/*------------------------------HOW IT WORKS------------*/



.section-steps{
    background-color: #f4f4f4;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
    
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
    
}

.iphone-screen{
    width: 40%;
}

.work-step{
    margin-bottom: 50px;
}

.work-step:last-of-type{
    margin-bottom: 80px;
}

.work-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img{
    height: 50px;
    widows: auto;
    margin-right: 10px;
}

/*----------------------CITIES-----------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
    
}

/*-------------------TESTIMONIALS----------*/

.section-testimonials{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(imgs/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imgs/back-customers-min.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote{
    padding-bottom: 2px;
    font-style: italic;
    line-height: 145%;
}

blockquote:before{
    content: "\0022";
    font-size: 400%;
    display: block;
    position: relative;
    top: -5px;
    left: -3px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*-----------SIGN-UP----------*/

.section-signup{
    background-color: #ffffff;
}
    

.plan-box{
    background-color: #efe7e7;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #8b8b8b;
    box-shadow: 0 2px 2px #8b8b8b;
        
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #a09e9e;
}

.plan-box div:last-child{
    text-align: center;
}

.plan-box div:first-child{
    background-color: #bebebe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-price{
    font-size: 250%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-per-meal{
    font-size: 80%;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
    color: black;
    
}

/*-----------------------CONTACT FORM--------------*/

.cform{
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;

}


input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}



/*---------FOOTER-------*/

footer{
    background-color: #271f1f;
    padding: 20px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}


.social-links  li,
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
    color: #ddd;
}

footer p{
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}

.ion-social-facebook:hover{
    color: #3b5998;
    
}

.ion-social-twitter:hover{
    color: #1da1f2;
    
}

.ion-social-googleplus:hover{
    color: #db4437;
    
}
.ion-social-instagram:hover{
    color: #c32aa3;
    
}

/*------------------------------------*/
/*------------ANIMATIONS-------------*/
/*-----------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}


